header{
    border: 2px solid black;
    display: inline-block;
    
}
.foto{
    border: 2px solid black;
    display: inline;
    padding-left: 24px;
    padding-right: 24px;
   
}
a{
border: 2px solid black;
display: block;
} 

p
{
border: 1px solid black;
}

footer{
    border: 2px solid black;
}