* main {
    border: 2px solid black;
    ;
    display: block;
    width: 450px;
    margin-inline: auto;
}

header {
    border: 2px solid black;
    ;
    display: inline-block;
    width: 350px;



}

.foto {
    border: 2px solid black;
    width: 140px;
    height: 140px;
    margin: 0;
    padding: 10px;
}

a {
    border: 2px solid black;
    display: inline-block;
    padding: 8px 15px;
    margin: 0;
}

p {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 0px;
}

.prim {
    margin-bottom: 40px;
}

.seg {
    border: 1px solid black;
    margin-bottom: 40px;
}

.caixas div {

    border: 2px solid black;
    width: 55px;
    height: 65px;
    display: inline-block;
}

.rodape {
    border: 1px solid black;
    margin: 10px 20px 30px 40px;
    padding: 2px 4px;
}

.cxdois {
    border: 2px solid black;
    width: 10px;
    height: 65px;
    display: inline-block;
}